* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    background: transparent;
}

body:before {
    content: "";
    position: fixed;
    background-image: url("../image/background1smaller.jpg");
    background-size: cover;
    background-position: right;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    transition: ease-in-out 0.3s;
    margin-left: 40px;
}



header * {
    transition: ease-in-out 0.3s;
}

header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

header h2 span {
    color: #fff;
    border-bottom: 2px solid #d43076;
    padding-bottom: 6px;
}



a {
    text-decoration: none;
    color: #fff;
}

header ul {
    display: flex;
    font-weight: bold;
    list-style: none;
    margin-top: 30px;

}

header li+li {
    margin-left: 10px;
}


header .social-links {
    margin-top: 40px;
    display: flex;
}

header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header .social-links a:hover {
    background-color: #d43076;
}


 header.header-top {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9) !important;
}

header.header-top .social-links,
header.header-top h2 {
    display: none;
} 
 header.header-top .container {
    display: flex;
    width: 100%;
}

header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

nav a {
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #d43076;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before,
nav li:hover>a:before,
nav .active:before {
    visibility: visible;
    width: 25px;
}

.mobile-nav-toggle {
    color: #fff;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;

}

 header.header-top .container {
    flex-direction: row;
    height: 60px;
    align-items: center;
    margin-left: 15px;
}
 header.header-top .container ul {
 margin-top: 1px;
 margin-right:15px ;

} 




/* section */
section {
    overflow: hidden;
    width: 90%;
    margin: 70px auto;
    animation:margin-top 0.5s;
}
@keyframes margin-top {
    0%{
        margin: 120px auto;
    }
    100%{
        margin: 70px auto;
    }
}

    section .containerAll {
        background: rgba(0, 0, 0, 0.9) !important;
        padding: 30px;
    }



.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

    .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background-color: #d43076;
        margin: 4px 10px;
    }

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
/*section about*/

.contentContainer{
    display: flex;
}
.contentContainer #me{
    width: 90%;
}
#containerImageMe{
    flex-basis: 10%;
}
.content{
    flex-basis: 90%;
}
.content{
    margin-left: 20px;
}
.aboutPerson{
    display: flex;
    margin-top: 30px;
}
.aboutPerson img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.aboutPerson div:nth-child(2){
    margin-left: 80px;
}
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #d43076;
}
.about .content p{
    font-style: italic;
    margin-top: 30px;
}
.about .content ul li {
    margin-bottom: 20px;
}

.about .content ul strong {
    margin-right: 10px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #d43076;
    line-height: 0;
}


.d-flex{
    display: flex;
}

/*skill*/

.skill{
    margin-top: 25px;
}
.progress{
    background: rgba(255, 255, 255, 0.2);
    height: 15px;
    position: relative;
}
.progress::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d43076;
}
.html::after{
    width: 100%;
}
.css::after{
    width: 100%;
}
.javascript::after{
    width: 80%;
}
.bootstrap::after{
    width: 100%;
}
.react::after{
    width: 60%;
}
.progressContent{
display: flex;
justify-content: space-between;
margin: 10px 0;
font-size: 12px;
}
/*portfolio*/


#containerImagePortfolio img{
    width: 50%;
}
#containerImagePortfolio img+img{
    margin-left: 5px;
}
/*contact*/
.contact .contentContainer{
    flex-direction: column;
}
.contact .contentContainer .d-flex{
    margin-bottom: 25px;
}
.contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
}
.contact .info-box+.info-box{
    margin-left: 25px;
}

    .contact .info-box i.bi {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 14px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
    }

    .contact .info-box h3 {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
        margin: 10px 0 8px 68px;
    }

    .contact .info-box p {
        padding: 0;
        color: #fff;
        line-height: 24px;
        font-size: 14px;
        margin: 0 0 0 68px;
    }

    .contact .info-box .social-links {
        margin: 5px 0 0 68px;
    }

        .contact .info-box .social-links a {
            font-size: 18px;
            color: #fff;
            line-height: 1;
            margin-right: 12px;
            transition: 0.3s;
        }


            .contact form {
                padding: 30px;
                display: flex;
                flex-direction: column;
            }
            .invalid{
                background: #d430774c;

            }
            .valid{
                background: rgba(255, 255, 255, 0.08);

            }
            .contact form div{
                margin-bottom: 25px;
            }
            
                .contact form input,
                .contact form textarea {
                    border-radius: 0;
                    box-shadow: none;
                    font-size: 14px;
                    background: rgba(255, 255, 255, 0.08);
                    border: 0;
                    transition: 0.3s;
                    color: #fff;
                    width: 100%;
                    margin-bottom: 10px;
                }
            
                    .contact form input:focus,
                    .contact form textarea:focus {
                        background-color: rgba(255, 255, 255, 0.11);
                        outline: none;
                    }
            
                .contact form input {
                    padding: 10px 15px;
                }
            
                .contact form textarea {
                    padding: 12px 15px;
                }
            
                .contact form button[type="submit"] {
                    background-color: #d43076;
                    border: 0;
                    padding: 10px 30px;
                    color: #fff;
                    transition: 0.4s;
                    border-radius: 4px;
                }
            
                    .contact form button[type="submit"]:hover {
                        background: #da3f82;
                    }
                    form span{
                        color: #d43076;
                    }


@media (max-width: 768px) {



    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9) !important;
        transition: 0.3s;
        z-index: 999;
        margin-top: 0;
        display: none;
    }
    
    
    .navbar-mobile ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 45px;
        left: 15px;
        padding: 10px 0;
        overflow-y: auto;
        transition: ease-in-out 0.3s;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    
    
    .navbar-mobile li {
        padding: 15px 20px;
    }
    
    .navbar-mobile li+li {
        margin: 0;
    }
    
    .navbar-mobile a {
        font-size: 16px;
        position: relative;
    }

    header h1 {
        font-size: 36px;
    }

    header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    header.header-top .container {
        flex-direction: row;
        align-items: center;
        height: 60px;
    } 


    header.header-top h1 {
        font-size: 26px;
    }

    .navbar ul {
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
    .mobile-nav-toggle {
        display: block;
    }
    .mobile-nav-toggle {
            position: absolute;
            top: 15px;
            right: 15px; 
            width: 30px;
            transform-origin: 1px;
        }
        .mobile-nav-toggle div{
            width: 100%;
            height: 2px;
            background-color: #fff;
            transform-origin: 1px;

        }
        .mobile-nav-toggle div:nth-child(1){
            margin-bottom: 8px;
        }
        .mobile-nav-toggle div:nth-child(2){
            margin-bottom: 8px;
        }



    .container{
        align-items: center;
        margin-left: 0;
    }
    
    section {
        margin: 70px 0;
        width: 100%;
    }


        .contentContainer{
            flex-direction: column;
        }
        .contentContainer #me{
            width: 100%;
        }
        .aboutPerson{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        .aboutPerson div:nth-child(2){
            margin-left: 0;
        }
        .content h3{
           margin-top: 30px;
        }
        .content{
            margin-left:0;
        }

        /*portfolio*/
        #containerImagePortfolio img{
            width: 100%;
            margin-bottom: 10px;
        }
        #containerImagePortfolio img+img{
            width: 100%;
            margin-left: 0;
        }
        
        /*contact*/

        .contact .contentContainer> .d-flex{
            flex-direction: column;
        }
        .contact .info-box+.info-box{
            margin-top: 25px;
            margin-left: 0;
        }
}
